* {
  text-decoration: none;
  transition: all .40s ease;
  color: white;
  color: black;
}
:root {
  --bg: #121212;
  --h1-font: 3rem;
}
body {
  background-color: #DBF4FF;
  color: black;
}
/* navbar */
nav {
  gap: 2rem;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(12px);
  z-index: 100000000000000000000;
}
/* hero */
.hero {
  background: url('assets/bg-main-2.jpg');
  height: 100vh;
  background-size: cover;
}
.hero-content h1 {
  font-size: var(--h1-font);
}
.hero-img img {
  aspect-ratio: 1/1;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */background-position: center;
  max-width: 50%;
  /* width: 100%; */
  /* background-color: #47BBD7; */
  /* animation: up-down 3s linear infinite; */
}
@keyframes up-down {
  0%,
  100% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0);
  }
}
/* skill */
.skills {
  /* background: url('./assets/bg-main-2.jpg') no-repeat; */
  height: 50vh;
  background-position-x: top;
  /* background-size: cover; */
}
svg {
  aspect-ratio: 1/1;
  width: 100%;
}
/* projects */
.projects {
  background: url('assets/bg-main-2.jpg') no-repeat fixed;
  padding: 10rem 0;
  background-size: cover;
}
.card {
  background: transparent;
  backdrop-filter: blur(10px);
}
.img-card video {
  aspect-ratio: 1.5/1;
  width: 100%;
}
/* footer */
.footer {
  /* background: url('./assets/footer-bg.png'); */
  background-size: cover;
}
.container-footer {
  height: 30vh;
}
footer .text p {
  font-size: 15px;
}